body {
-moz-user-select:none;
-webkit-user-select:none;
-ms-user-select:none;
-khtml-user-select:none;
user-select:none;
min-width: 1190px;
font-family: Microsoft Yahei;
}
.clearfloat {
  clear: both;
}
a:hover {
  cursor: pointer;
}
.fixed{
  position: fixed;
  top:40%;
  right:50px;
  z-index: 100;
  overflow: hidden;
}
.fixed ul{
  position: relative;
  left:32px;
  transition:left 0.3s linear;
  background-color: #fff;
}
.fixed ul.le{
  left:0px;
}
.fixed ul li a{
  display: block;
  width: 32px;
  height: 33px;
  border-bottom: 1px dotted #d2d2d2;
  line-height: 32px;
  font-size: 12px;
  text-align: center;
  position: relative;
  text-decoration:none; color:#333;
}
.fixed ul li a:hover{
  background-color:#00ccce;
  color:#fff;
}
.fixed ul li a.on{
  background-color:#00ccce;
  color:#fff;
}
.fixed ul li.FixBoLi a{
  line-height:12px;
  +line-height: 20px;
}
.fixed ul li a:hover i{
  border-bottom: 7px solid #fff;
}
.fixed ul li a i{
  padding-top: 6px;
  display: inline-block;
  height: 0;
  width: 0;
  overflow: hidden;
  border-bottom: 7px solid black;
  border-left: 5px dashed transparent;
  border-right: 5px dashed transparent;
}

.topBig {
  height: 43px;
  font-size: 14px;
  border-bottom: 2px solid #0cc;
  margin: auto;
  position: relative;
  z-index:10;
}
.top {
  width: 1190px;
  height: 40px;
  margin: auto;
  position: relative;
}
.top ul li {
  position: relative;
  text-align: center;
}
.top ul li>a {
  display: inline-block;
  width: 100%;
}
.top ul li>a:hover {
  color: #0cc;
}
.top .leftUl li:not(.last-Li)>a:after,
.top .rightUl li:not(:first-child)>a:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: #e6e6e6;
  position: absolute;
  right: 0;
  top: 12px;
}
.top ul li:first-child {
  width: 104px;
}
.top ul li:first-child+li {
  width: 153px;
}
.top ul li:first-child+li+li {
  width: 125px;
}
.top ul.rightUl li:first-child+li {
  width: 134px;
}
.top ul.rightUl li:first-child {
  width: 129px;
}
.top .leftUl li {
  float: left;
  line-height: 40px;
}
.top .rightUl li {
  float: right;
  line-height: 40px;
}
.top .puIcon {
  display: inline-block;
  width: 11px;
  height: 17px;
  background-image: url("../src/1.png");
  position: relative;
  top: 3px;
  transition: all 0.5s linear;
  +top:0px;
}
.top .rightUl .riIcon {
  display: inline-block;
  width: 18px;
  height: 17px;
  background-image: url("../src/2.png");
  position: relative;
  top: 4px;
  +top:0px;
}
.selectorOut {
  display: none;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  top: 30px;
}
.top .leftUl .selectorOut {
  left: 13px;
}
.top .rightUl .selectorOut {
  left: 1px;
}
.selector {
  width: 126px;
  border: 1px solid #e6e6e6;
  margin: auto;
  position: relative;
  background-color: #fff;
  overflow: hidden;
/*display none*/
}
.selector a {
  font-size: 12px;
  line-height: 39px;
  display: inline-block;
  width: 100%;
  float: left;
  border-bottom: 1px dotted #e6e6e6;
}
.selector a:last-child {
  border-bottom: 1px transparent;
}
.selector a:hover {
  background-color: #0cc;
}
.selector.rightSel {
  top: -120px;
}
.selector.leftSel {
  top: -400px;
}
.twoBig {
  width: 100%;
  min-width: 1190px;
  overflow: hidden;
  height: 680px;
  position: relative;
}
.twoBig .bg {
  width: 100%;
  height: 540px;
  position: absolute;
  background-color: #f2f2f2;
  z-index: -1;
}
.twoBig .twoInner {
  width: 1190px;
  height: 680px;
  margin: auto;
  padding-top: 20px;
}
.twoBig .twoInner .leftBanner {
  width: 890px;
  height: 660px;
  display: inline-block;
  position: absolute;
}
.twoBig .twoInner .leftBanner .leftBanTop {
  height: 480px;
  width: 100%;
}
.twoBig .twoInner .leftBanner .leftBanTop .leftBanTopLe {
  width: 540px;
  height: 500px;
  display: inline-block;
  float: left;
  position: relative;
}
.twoBig .twoInner .leftBanner .leftBanTop .leftBanTopRi {
  width: 350px;
  height: 480px;
  float: left;
}
.twoBig .twoInner .leftBanner .leftBanTop .leftBanTopRi .leftBanTopRiTop {
  width: 350px;
  height: 250px;
  float: left;
}
.twoBig .twoInner .leftBanner .leftBanTop .leftBanTopRi .leftBanTopRiBot {
  width: 350px;
  height: 250px;
  float: left;
}
.twoBig .twoInner .leftBanner .leftBanBot {
  margin-top: 40px;
  height: 140px;
  width: 100%;
}
.twoBig .twoInner .leftBanner .leftBanBot .data {
  height: 140px;
  width: 100%;
}
.twoBig .twoInner .leftBanner .leftBanBot .data .pub {
  display: inline-block;
  height: 140px;
  text-align: center;
  width: 222px;
  position: relative;
  float: left;
}
.twoBig .twoInner .leftBanner .leftBanBot .data .pub .text {
  font: 14px/1.5 Microsoft Yahei;
  color: #999;
  margin-top: 43px;
  display: inline-block;
  width: 222px;
}
.twoBig .twoInner .leftBanner .leftBanBot .data .pub .daNum {
  font: 30px/1.5 Microsoft Yahei;
  color: #666;
  display: inline-block;
  width: 222px;
}
.twoBig .twoInner .leftBanner .leftBanBot .data .pub .line {
  display: inline-block;
  width: 1px;
  height: 65px;
  background-color: #00ccce;
  position: absolute;
  right: 0;
  top: 43px;
  transform: rotate(20deg);
}
.twoBig .twoInner .rightBanner {
  width: 290px;
  height: 660px;
  display: inline-block;
  float: right;
}
.twoBig .twoInner .rightBanner .rightOne {
  height: 78px;
  background: -webkit-linear-gradient(left, #62cce6, #41dbc0);
  background: -moz-linear-gradient(left, #62cce6, #41dbc0);
  background-image: -ms-linear-gradient(left, #62cce6, #41dbc0);
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#62cce6',endColorStr='#41dbc0',gradientType='1'); 
}
.twoBig .twoInner .rightBanner .rightOne>a {
  position: relative;
  left: 20px;
  color: #fff;
  line-height: 78px;
  font-size: 28px;
}
.twoBig .twoInner .rightBanner .rightOne span {
  display: inline-block;
  position: relative;
  top: 6px;
  font-size: 0;
  left: 102px;
}
.twoBig .twoInner .rightBanner .rightOne span .pubChan {
  cursor: pointer;
  font-family: iconfont;
  font-style: normal;
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-size: 20px;
  font-weight: 100;

  background: rgb(255,255,255);
  opacity: .5;
  filter:alpha(opacity=50);
  color: #4f9a95;
  float: left;
}
.twoBig .twoInner .rightBanner .rightOne span .pubChan:hover{
   background: rgb(255,255,255);
   opacity: .7;
   filter:alpha(opacity=70);
   color: #62cce6;
}
.twoBig .twoInner .rightBanner .rightOne span .pubChan.curr{
  background: rgb(255,255,255);
  opacity: .9;
  filter:alpha(opacity=90);
} 
.twoBig .twoInner .rightBanner .rightPub {
  height: 194px;
  position: relative;
}
.twoBig .twoInner .rightBanner .rightPub .date {
  width: 110px;
  height: 30px;
  text-align: center;
  background-color: #fe645a;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  z-index: 1;
  font-size: 12px;
}
.twoBig .twoInner .rightBanner .rightPub .date span {
  line-height: 30px;
}
.twoBig .twoInner .rightBanner .rightPub img {
  width: 290px;
  height: 194px;
  position: absolute;
}
.threeBig {
  height: 634px;
  background: #c0cfdb url("https://img.alicdn.com/tps/TB1tkY2JpXXXXaQXVXXXXXXXXXX-2220-634.png") no-repeat center center;
}
.threeBig .threeInner {
  width: 1190px;
  height: 634px;
  margin: auto;
  position: relative;
}
.threeBig .threeInner .thrTit {
  width: 100%;
  padding-top: 28px;
  text-align: center;
  font-size: 28px;
  color: #fff;
}
.threeBig .threeInner .hot-tag {
  width: 100%;
  color: #fff;
  font-size: 12px;
  height: 31px;
  line-height: 28px;
  margin-top: 18px;
  text-align: center;
}
.threeBig .threeInner .hot-tag>.tag {
  display: inline-block;
  font-size: 12px;
  height: 28px;
  padding: 0 10px;
  margin-left: 12px;
  border: 1px solid #fff;
  border-radius: 3px;
  line-height: 26px
}
.threeBig .threeInner .hot-tag>.tag:hover {
  background-color: #00ccce;
  border: 1px solid #00ccce;
}
.threeBig .outInner{
  width: 1190px;
  height: 450px;
  overflow:hidden;
  position: absolute;
  top: 140px;
}
.threeBig a.pub-ar{
  display: block;
  position: absolute;
  font-size: 40px;
  font-weight: 100;
  color:gray;
  transform:scaleY(2);
}
.threeBig a.pub-ar:hover{
  color:#0cc;
}
.threeBig a.prev{
  top:317px;
  left:-40px;
  display: none;
}
.threeBig a.next{
  top:317px;
  right:-40px;
}
.threeBig .threeMainInner {
  width: 2420px;
  height: 450px;  
  position:relative;
  left:0px;
}

.threeBig .threeMainInner>a {
  display: inline-block;
  float: left;
  width: 242px;
  height: 450px;
  position: relative;
}
.threeBig .threeMainInner>a>img {
  position: absolute;
}
.threeBig .threeMainInner>a>.textInner {
  position: absolute;
}
.threeBig .threeMainInner>a>.textInner>.item-title {
  padding-left: 18px;
  color: #2a343f;
  font-size: 24px;
  height: 58px;
  line-height: 58px;
  overflow: hidden;
  width: 220px;
}
.threeBig .threeMainInner>a>.textInner>.des {
  width: 150px;
  padding-left: 18px;
  font-size: 12px;
  color: #99a5b4;
  margin-top: 15px;
  line-height: 18px;
  height: 35px;
}
.threeBig .threeMainInner>a>.textInner>.textPer {
  font-size: 16px;
  color: #828c98;
  padding-left: 18px;
  margin-top: 30px;
  line-height: 24px;
}
.threeBig .threeMainInner>a>.textInner>.per {
  font-size: 31px;
  color: #00ccce;
  padding-left: 18px;
  height: 40px;
  line-height: 40px;
  font-family: Helvetica;
}
.threeBig .threeMainInner>a>.textInner>.per>.divPer {
  margin-top: 4;
  font-size: 31px;
  color: #00ccce;
  line-height: 40px;
  font-family: Helvetica;
}
.bigTit {
  width: 1190px;
  height: 30px;
  margin: auto;
  background-image: url("https://img.alicdn.com/tps/TB1xtV4JXXXXXbTXXXXXXXXXXXX-2-6.png");
  background-repeat: repeat-x;
  position: relative;
  margin-top: 63px;
}
.bigTit .textTit {
  display: inline-block;
  width: 136px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 28px;
  color: #333;
  position: relative;
  top: -14px;
  background-color: #fff;
  left: 527px;
}
.bigTit .titExplain {
  height: 10px;
  overflow: visible;
  text-align: center;
  position: relative;
  top: -10px;
  font-size: 14px;
  line-height: 21px;
  color: #8f8f8f;
}
.Big {
  width: 1190px;
  height: 812px;
  margin: auto;
  margin-top: 10px;
}
.Big .floorOne {
  height: 20px;
  line-height: 20px;
  position: relative;
  margin-bottom: 12px;
}
.Big .floorOne .num {
  font-size: 14px;
  color: #5a5a5a;
}
.Big .floorOne .name {
  font-size: 20px;
  margin-left: 3px;
  color: #5a5a5a;
}
.Big .floorOne em.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../src/3.png");
  background-position: 0px -3px;
  margin-left: 4px;
  position: absolute;
  top: 3px;
}
.Big .Inner {
  width: 1216px;
}
.Big .Inner li {
  width: 282px;
  float: left;
  margin: 0 20px 18px 0;
  border: 1px solid #ededed;
  height: 370px;
  position: relative;
}
.Big .Inner li:first-child {
  width: 282px;
  border: transparent;
}
.Big .Inner li:first-child img {
  position: absolute;
  right: 2px;
}
.Big .Inner li:first-child .firstLiA {
  display: block;
  width: 282px;
  height: 370px;
  position: absolute;
}
.Big .Inner li:first-child .firstLiA .info {
  position: absolute;
  color: #fff;
  left: 28px;
  top: 27px;
}
.Big .Inner li:first-child .firstLiA .info .name {
  font-size: 24px;
  line-height: 24px;
}
.Big .Inner li:first-child .firstLiA .info .money {
  font-size: 14px;
  line-height: 14px;
  margin-top: 10px;
}
.Big .Inner li:first-child .firstLiA .info .money i {
  display: inline-block;
  font-family: arial;
}
.Big .Inner li:first-child .firstLiA .info .textClick {
  width: 100px;
  height: 31px;
  background: #fff;
  line-height: 31px;
  text-align: center;
  font-size: 14px;
  margin-top: 19px;
  color: #78c9e3;
}
.Big .Inner li:first-child .firstLiA .info .textClick .icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  position: relative;
  background-image: url("../src/4.png");
  background-position: 0 -2px;
  +top:-4px;
}
.Big .Inner .item>a {
  display: block;
  width: 280px;
  height: 248px;
}
.Big .Inner .item>a .img {
  width: 280px;
  height: 184px;
}
.Big .Inner .item>a .img>img {
  width: 100%;
}
.Big .Inner .item>a .img>span {
  line-height: 22px;
  overflow: hidden;
  display: block;
  width: 250px;
  font-size: 15px;
  background-color: #fff;
  color: #2a2a2a;
  margin: 11px 15px;
  height: 42px;
}
.Big .Inner .item .tagOut {
  width: 250px;
  margin: 7px auto 22px;
  height: 23px;
  overflow: hidden;
}
.Big .Inner .item .tagOut .tag {
  display: inline-block;
  height: 23px;
  color: #999;
  line-height: 23px;
  background-color: #f0f0f0;
  padding: 0 8px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 12px;
}
.Big .Inner .item .bar {
  width: 250px;
  margin: auto;
  height: 6px;
  border-radius: 5px;
  background-color: #ededed;
}
.Big .Inner .item .bar .barPub {
  height: 6px;
  display: block;
  border-radius: 5px;
  background-color: #00cccd;
}
.Big .Inner .item .bar .full {
  width: 100%;
}
.Big .Inner .item .bott {
  margin-top: 15px;
}
.Big .Inner .item .bott .bottPub {
  display: inline-block;
}
.Big .Inner .item .bott .bottPub em {
  width: 100%;
  display: inline-block;
  text-align: center;
}
.Big .Inner .item .bott .bottPub .infoNum {
  font-size: 14px;
  line-height: 14px;
  color: #333;
}
.Big .Inner .item .bott .bottPub .infoName {
  font-size: 12px;
  line-height: 12px;
  margin-top: 5px;
  color: #999;
}
.Big .Inner .item .bott .deal {
  width: 58px;
  padding-left: 16px;
  +width: 42px;
}
.Big .Inner .item .bott .dollar {
  width: 144px;
}
.Big .Inner .item .bott .supp {
  width: 77px;
  padding-right: 22px;
  +width: 55px;
}
